.card {
    width: 128px;
    min-height: 400px;
}

.image-preview {
    padding: 4px;
    background-color: aliceblue;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100% !important;
    min-height: 128px !important;
    max-height: 128px !important;
}

@keyframes bounce1 {
    from,
    20%,
    53%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    40%,
    43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -15px, 0) scaleY(1.1);
        transform: translate3d(0, -15px, 0) scaleY(1.1);
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -2px, 0) scaleY(1.05);
        transform: translate3d(0, -2px, 0) scaleY(1.05);
    }

    80% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: translate3d(0, 0, 0) scaleY(0.95);
        transform: translate3d(0, 0, 0) scaleY(0.95);
    }

    90% {
        -webkit-transform: translate3d(0, -1px, 0) scaleY(1.02);
        transform: translate3d(0, -1px, 0) scaleY(1.02);
    }
}

@keyframes rainbow_animation {
    0%, 100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

.rainbow_text_animated {
    background: linear-gradient(to right, #6666ff, #0099ff, #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

.angles-bar {
    -webkit-animation-name: bounce1;
    animation-name: bounce1;
    animation-delay: 1s;
    animation-fill-mode: both;
    animation-direction: alternate;
    animation-iteration-count: 2;
    animation-timing-function: ease-in-out;

    svg {
        transform: scaleX(2.5);
    }
}

.cart-panel {
    z-index: 1000;
    width: 100vw;

    .cart {
        max-width: 540px;
        background-color: white;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
        border-top: solid 0.1px rgba(0, 0, 0, .15);
        border-left: solid 0.1px rgba(0, 0, 0, .15);
        border-right: solid 0.1px rgba(0, 0, 0, .15);
        background: #0F2027; /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


        .concise {
            width: 440px;

            .cart-btn {
                width: 48px;
                height: 48px;
            }

            .cart-info {
                min-width: 174px;

                li {
                    display: block;
                    cursor: help;
                }
            }

            .price {
                float: right;
                cursor: help;
                font-family: 'Tektur', cursive;
                font-size: large;
                font-weight: 600;
            }
        }

        .complete {
            width: 440px;

            .cart-btn-off {
                width: 38px;
                height: 38px;
            }

            .price {
                cursor: help;
                font-family: 'Tektur', cursive;
                font-size: large;
                font-weight: 600;
                min-width: 200px;
            }

            .price1 {
                cursor: help;
                font-family: 'Tektur', cursive;
                font-size: large;
                font-weight: 600;
            }

            .list-group-item {
                background: transparent;
                color: white;
            }

            .item-detail-list {
                width: 215px;

                span {
                    display: block;
                }

                .item-name {
                    width: 200px;
                }

                .item-detail:before {
                    content: "-";
                    margin-right: 8px;
                }

                .item-detail {
                    max-width: 200px;
                    color: gray;
                }
            }

            .item-name {
                width: 365px;
            }

            .item-list {
                height: 300px;
                overflow-y: auto;
            }

            .title-bar {
                .title {
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 38px;
                }
            }

            .split-line {
                width: 100%;
                height: 2px;
                background: gray;
                border-radius: 2rem;
                margin: 8px 0px;
            }

            .total {
                width: 100%;
                word-break: keep-all;
                color: white;

                .item-name1 {
                    width: 238px;
                }
            }
        }
    }
}